<div class="overflow-x-auto pl-2">
    <h2>ROAR Daily Transaction Report</h2>
    <h3><%= user.companyName %></h3>
    <h4><%= date.toLocaleDateString %></h4>
    <table class="table table-zebra table-compact w-full">
        <thead>
            <th colspan="3">Invoices</th>
        </thead>
        <tbody>
            <tr>
                <th>Number</th>
                <th>Customer</th>
                <th>Amount</th>
            </tr>
            <% for(var i = 0; i < invoices.length; i++) { %>
            <tr>
                <td>
                    <a class="link link-hover" href="/customers/viewCustomer/<%= invoices[i]._id%>">
                        <%= invoices[i].number %>
                    </a>
                </td>
                <td>
                    <% const currentCustomer = customers.filter(customer => customer._id === invoices[i].customer) %>
                    <%= currentCustomer.companyName %>
                </td>
                <td>
                    $ <%= invoices[i].amount.toFixed(2) %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <table class="table table-zebra table-compact w-full">
        <thead>
            <th colspan="3">Payments</th>
        </thead>
        <tr>
            <th>Number</th>
            <th>Customer</th>
            <th>Amount</th>
        </tr>
        <% for(var i = 0; i < payments.length; i++) { %>
        <tr>
            <td>
                <a class="link link-hover" href="/customers/viewCustomer/<%= payments[i]._id%>">
                <%= payments[i].number %>
            </a>
          </td>
          <td>
            <% const currentCustomer = customers.filter(customer => customer._id === payments[i].customer) %>
            <%= currentCustomer.companyName %>
          </td>
          <td>
            $ <%= payments[i].amount.toFixed(2) %>
          </td>
          </tr>
        <% } %>
      </table>