<div class="container mx-auto">
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <div class="mt-5">
        <h2>Welcome to Statements!</h2>
        <form action="/reports/createStatements" method="POST">   
              <!-- Accounts Receivable Report for Finance Charges  -->
              <h3>Statement Date: <%= lastMonthEndDate.toLocaleDateString() %></h3>
              <input type="hidden" id="lastMonthEndDate" name="lastMonthEndDate" value="<%= lastMonthEndDate %>">
    <div class="row justify-content-center mt-5">
      <h4>Statement Summary</h4>
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Customer</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        <% customers.forEach( (customer) => { %>
          <tr id="<%= customer.id %>">
            <td>
              <input type="checkbox" id="<%= customer.id %>" name="customers" onchange="checkboxHandler(event)" value="<%= customer.id %>" disabled>
            </td>
            <td>
              <a href="/customers/viewCustomer/<%= customer.id %>">
                <%= customer.companyName %>
              </a>
            </td>
            <td>          
              $ <%= customer.balance.toFixed(2) %>
            </td>
          </tr>
        <% }) %>
        </tbody>
        <tfoot>
          <th scope="row" colspan="5">Total</th>
          <td class="total">
            $ 
            <input type="number" step="0.01" readonly="true" id="total" name="total" value="0.00" style="border: 0; width: 60px">
          </td>
        </tfoot>
      </table>
    </div>
          <button type="submit" class="btn btn-primary">Print</button>
        </form>
      </div>
  </div>
</div>

