<%- include('../partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <div class="mt-5">
        <h2>Make a Payment</h2>
        <form action="/payments/createPayment" method="POST">
          <div class="mb-3">
            <!-- passes in the selected customer -->
              <label for="customer" class="form-label"><h3><%= customer.companyName %></h3></label>
              <h3>Total Balance $ <%= customer.balance.toFixed(2) %></h3>
              <input type="hidden" class="form-control" id="customer" name="customer" value="<%= customer._id %>">
          </div>
      
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" step="0.01" class="form-control" id="amount" name="amount">
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Reference Number</label>
            <input type="number" class="form-control" id="number" name="number">
          </div>
          <div class="mb-3">
            <!-- select from a list of possible tender types -->
              <label for="tender" class="form-label">Tender</label>
              <select name="tender" class="form-control" id="tender">
                <option value="" disabled selected>--Choose tender--</option>
                  <% ["Cash", "Credit Card", "Check", "Returned Merchandise", "Money Order", "Gift Card"].forEach(type => { %>
                    <option value="<%= type %>"><%= type %></option>
                  <% }) %>
              </select>
          </div>
              <!-- Invoices!!!  -->
    <div class="row justify-content-center mt-5">
      <h4>Open Invoices</h4>
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Date</th>
            <th>Invoice</th>
            <th>Total</th>
            <th>Due</th>
            <th>Paid</th>
          </tr>
        </thead>
        <tbody>
        <% invoices.forEach( (invoice, index) => { %>
          <tr id="<%= invoice.id %>">
            <td>
              <input type="checkbox" id="<%= invoice.id %>" name="invoices" onchange="checkboxHandler(event)" value="<%= invoice.id %>" disabled>
              <input type="hidden" id="payIndex" name="payIndex" value="<%= invoice.id %>">
            </td>
            <td>
              <%= invoice.date.toLocaleDateString() %>
            </td>
            <td>
              <a href="/invoices/viewInvoice/<%= invoice.id %>">
                <%= invoice.number %>
              </a>
            </td>
            <td>          
              $ <%= invoice.total.toFixed(2) %>
            </td>
            <td>
              $ <input class="due" type="number" step="0.01" readonly="true" name="due" value="<%= invoice.due.toFixed(2) %>" style="border: 0; width: 60px">
            </td>
            <td>
              $ <input class="paid" type="number" step="0.01" readonly="true" name="payments" value="0.00" style="border: 0; width: 60px">
            </td>
          </tr>
        <% }) %>
        </tbody>
        <tfoot>
          <th scope="row" colspan="5">Total applied</th>
          <td class="appliedPayment">
            $ 
            <input type="number" step="0.01" readonly="true" id="appliedPayment" name="appliedPayment" value="0.00" style="border: 0; width: 60px">
          </td>
        </tfoot>
      </table>
    </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>

<%- include('../partials/footer') -%>
