<div class="container mx-auto p-6">
  <div class="content-center mt-5">
        <h2 class="text-2xl mb-4">Make a Payment</h2>
        <form action="/payments/createPayment" method="POST" class="space-y-4">
          <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
            <!-- passes in the selected customer -->
            <div class="w-full md:w-1/2">
              <label for="customer" class="label"><h3><%= customer.companyName %></h3></label>
              <input type="hidden" class="form-control" id="customer" name="customer" value="<%= customer._id %>">
              <h3>Total Balance $ <%= customer.balance.toFixed(2) %></h3>
            </div>
          </div>
          <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
          <div class="w-full md:w-1/2">
            <label for="date" class="label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="<%= date.toLocaleDateString() %>" required>
          </div>
          </div>
          <div class="w-full md:w-1/2">
            <label for="amount" class="label">Amount</label>
            <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
          </div>
          <div class="w-full md:w-1/2">
            <label for="number" class="label">Reference Number</label>
            <input type="number" step="1" class="form-control" id="number" name="number" required>
          </div>
          <div class="w-full md:w-1/2">
            <!-- select from a list of possible tender types -->
              <label for="tender" class="label">Tender</label>
              <select name="tender" class="form-control select" id="tender" required>
                <option value="" disabled selected>--Choose tender--</option>
                  <% ["Cash", "Credit Card", "Check", "Returned Merchandise", "Money Order", "Gift Card"].forEach(type => { %>
                    <option value="<%= type %>"><%= type %></option>
                  <% }) %>
              </select>
          </div>
          <div class="divider"></div>
              <!-- Invoices!!!  -->
    <div class="content-center mt-5">
      <table class="table table-zebra">
        <thead>
          <h4>Open Invoices</h4>
          </thead>
          <tr>
            <th>Select</th>
            <th>Date</th>
            <th>Invoice</th>
            <th>Total</th>
            <th>Due</th>
            <th>Paid</th>
          </tr>
        </thead>
        <tbody>
        <% invoices.forEach( (invoice, index) => { %>
          <tr id="<%= invoice.id %>">
            <td>
              <input type="checkbox" id="<%= invoice.id %>" name="invoices" onchange="checkboxHandler(event)" value="<%= invoice.id %>" disabled>
              <input type="hidden" id="payIndex" name="payIndex" value="<%= invoice.id %>">
            </td>
            <td>
              <%= invoice.date.toLocaleDateString() %>
            </td>
            <td>
              <a href="/invoices/viewInvoice/<%= invoice.id %>">
                <%= invoice.number %>
              </a>
            </td>
            <td>          
              $ <%= invoice.total.toFixed(2) %>
            </td>
            <td>
              $ <input class="due" type="number" step="0.01" readonly="true" name="due" value="<%= invoice.due.toFixed(2) %>" style="border: 0; width: 60px">
            </td>
            <td>
              $ <input class="paid" type="number" step="0.01" readonly="true" name="payments" value="0.00" style="border: 0; width: 60px">
            </td>
          </tr>
        <% }) %>
        </tbody>
        <tfoot>
          <th scope="row" colspan="5">Total applied</th>
          <td class="appliedPayment">
            $ 
            <input type="number" step="0.01" readonly="true" id="appliedPayment" name="appliedPayment" value="0.00" style="border: 0; width: 60px">
          </td>
        </tfoot>
      </table>
    </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>

