<%- include('./partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= invoice.number %></h2>
      <h3><%= invoice.customer %></h3>
      <img class="img-fluid" src="<%= invoice.image %>" />
      <div class="row justify-content-between">
        <h3 class="col-3"><%= invoice.total %></h3>
        <span><%= invoice.date.toString() %></span>
        <span><%= invoice.total %></span>
        
        <!-- Deelaytay button -->
        <form
        action="/invoice/deleteInvoice/<%= invoice.id %>?_method=DELETE"
        method="POST"
        class="col-3"
      >
        <button class="btn btn-danger fa fa-trash" type="submit">Delete this Invoice</button>
      </form>
      </div>
    </div>
   </div>
</div>

<%- include('./partials/footer') -%>
