<%- include('../partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2>INV# <%= invoice.number %></h2>
      <a href="/customers/viewCustomer/<%= customer._id %>">
        <h3><%= customer.companyName %></h3>
      </a>
    </div>
    <div class="col-6">
        <h3>$ <%= invoice.total.toFixed(2) %></h3>
        <h3><%= invoice.date.toLocaleDateString() %></h3>      
    </div>
    <div class="row mt-5">
      <embed src="<%= invoice.image %>" width="300px" height="500px" />
    </div>
    <div class="row justify-content-between mt-5">
      <% if (!invoice.isPaid) { %>
        <!-- Deelaytay button -->
        <form
        action="/invoices/deleteInvoice/<%= invoice.id %>?_method=DELETE"
        method="POST"
        >
        <button class="btn btn-danger fa fa-trash" type="submit">Delete this Invoice</button>
      </form>
      <% } %>
    </div>
   </div>
</div>

<%- include('../partials/footer') -%>
