<div class="container mx-auto">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
          <a href="/customers/viewCustomer/<%= customer._id %>"><h2 class="card-title"><%= customer.companyName %></h2></a>
          <p><%= invoice.number %></p>
          <h3>$ <%= invoice.total.toFixed(2) %></h3>
          <h3><%= invoice.date.toLocaleDateString() %></h3>
          <div class="card-actions justify-end">
            <% if (!invoice.isPaid) { %>
              <!-- Deelaytay button -->
              <form
              action="/invoices/deleteInvoice/<%= invoice._id %>?_method=DELETE"
              method="POST"
              >
              <button class="btn btn-warning" type="submit">Delete this Invoice</button>
            </form>
            <% } %>
          </div>
        </div>
        <figure><embed src="<%= invoice.image %>" width="300px" height="500px" /></figure>
      </div>
</div>

