<%- include('../partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
      <h2><%= customer.companyName %></h2>
      <h3><%= customer.fullName %></h3>
      <div class="row justify-content-center mt-5">
        <!-- Make a payment -->
        <a class="btn btn-primary" href="/payments/newPayment/<%= customer._id %>">Make Payment</a>
      </div>
    <div class="col-6 mt-5">

      <h4>Phone</h4>
      <% if (customer.phone) { %>
      <span><%= customer.phone %></span>
      <% } else { %>
      <span>not entered</span>
      <% } %>
      <br>
      <h4>Alt Phone</h4>
      <% if (customer.altPhone) { %>
      <span><%= customer.altPhone %></span>
      <% } else { %>
      <span>not entered</span>
      <% } %>
      <br>
      <h4>email</h4>
      <% if (customer.email) { %>
      <span><%= customer.email %></span>
      <% } else { %>
        <span>not entered</span>
      <% } %>
      <div class="row">
        <h4>Bill To:</h4>
        <pre><%= customer.billTo %></pre>
      </div>
      <a href="/customers/editCustomer/<%= customer._id %>" class="btn btn-primary">Edit Customer</a>
    </div>
    <div class="col-6 mt-5">
      <h5>Charge Limit</h5>
      <p>$ <%= customer.limit.toFixed(2) %></p>
      <h5>Terms</h5>
      <p><%= customer.terms %></p>
      <h5>Tax Exempt Id</h5>
      <% if (customer.taxId) { %>
        <p><%= customer.taxId %></p>
        <% } else { %>
        <p>not exempt</p>
        <% } %>
      <h5>Current Balance</h5>
      <p>$ <%= customer.balance.toFixed(2) %></p>
      <h5>Date Added</h5>
      <p><%= customer.addedOn.toLocaleDateString() %></p>
    </div>

    <!-- Invoices!!!  -->
    <div class="row justify-content-center mt-5">
    <h4>Open Invoices</h4>
    <table>
      <tr>
        <th>Date</th>
        <th>Invoice Number</th>
        <th>Total</th>
        <th>Due</th>
      </tr>
      <% invoices.forEach( invoice => { %>
        <% if (!invoice.isPaid) { %>
        <tr>
          <td>
            <%= invoice.date.toLocaleDateString() %>
          </td>
          <td>
            <a href="/invoices/viewInvoice/<%= invoice._id %>">
              <%= invoice.number %>
            </a>
          </td>
          <td>          
            $ <%= invoice.total.toFixed(2) %>
          </td>
          <td>          
            $ <%= invoice.due.toFixed(2) %>
          </td>
        </tr>
      <% }}) %>
    </table>
    </div>
    <div class="row justify-content-center mt-5">
    <h4>Payments</h4>
    <table>
      <tr>
        <th>Date</th>
        <th>Reference Number</th>
        <th>Amount</th>
      </tr>
      <% payments.forEach( payment => { %>
        <tr>
          <td>
            <%= payment.date.toLocaleDateString() %>
          </td>
          <td>
            <form
            action="/payments/deletePayment/<%= payment._id %>?_method=DELETE"
            method="POST"
            >
            <button class="btn btn-danger fa fa-trash" type="submit"></button>
            </form>
          </td>
          <td>          
            $ <%= payment.amount.toFixed(2) %>
          </td>
        </tr>
      <% }) %>
    </table>
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>
