<%- include('./partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <a href="/invoices/newInvoice/" class="btn btn-primary">
        New Invoice
      </a>
      <!-- this should be a table -->
      <ul class="row list-unstyled">
        <% for(var i=0; i<customers.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/customer/<%= customers[i]._id%>">
              <%= customers[i].companyName %>
            </a>
            <!-- Balance Total -->
            <%= customers[i].balance %>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('./partials/footer') -%>