<div class="overflow-hidden shadow sm:rounded-lg">
  <div class="flex w-full px-4 py-5 sm:px-6">
      <div class="grid h-25 flex-grow card place-items-center">
        <h3 class="text-lg font-medium leading-6">Customer Information</h3>
        <p class="mt-1 max-w-2xl text-sm">Contact details, invoices, and payments</p>
      </div>
      <div class="grid h-25 flex-grow card place-items-center">
        <div>
          <a class="btn btn-primary" href="/payments/newPayment/<%= customer._id %>">Make Payment</a>
        </div>
        <div class="mt-5">
        <a class="btn btn-primary" href="/customers/editCustomer/<%= customer._id %>">Edit Customer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="pl-4">
    <dl>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Company name</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0"><%= customer.companyName %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Full Name</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0"><%= customer.fullName %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Current Balance</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">$ <%= customer.balance.toFixed(2) %></dd>
      </div>

      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Phone</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">        
          <% if (customer.phone) { %>
          <%= customer.phone %>
          <% } else { %>
          not entered
          <% } %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Alt Phone</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">        
          <% if (customer.altPhone) { %>
          <%= customer.altPhone %>
          <% } else { %>
          not entered
          <% } %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Email address</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">        
          <% if (customer.email) { %>
          <%= customer.email %>
          <% } else { %>
          not entered
          <% } %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Charge Limit</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">$ <%= customer.limit.toFixed(2) %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Opening Balance</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">$ <%= //customer.openingBalance.toFixed(2) %></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Bill To</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0"><pre><%= customer.billTo %></pre></dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Date Added</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0"><%= customer.addedOn.toLocaleDateString() %></dd>
      </div>
      <div class="divider"></div>
      <%- include('../partials/invoiceTable.ejs') %>
      <div class="divider"></div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium">Payments</dt>
        <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0">
          <table>
            <tr>
              <th>Date</th>
              <th>Reference Number</th>
              <th>Amount</th>
            </tr>
            <% payments.forEach( payment => { %>
              <tr>
                <td>
                  <%= payment.date.toLocaleDateString() %>
                </td>
                <td>
                  <form
                  action="/payments/deletePayment/<%= payment._id %>?_method=DELETE"
                  method="POST"
                  >
                  <button class="btn btn-danger fa fa-trash" type="submit"></button>
                  </form>
                </td>
                <td>          
                  $ <%= payment.amount.toFixed(2) %>
                </td>
              </tr>
            <% }) %>
          </table>
        </dd>
      </div>
    </dl>
  </div>
</div>
