<%- include('../partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
      <h2><%= customer.companyName %></h2>
      <h3><%= customer.fullName %></h3>
    <div class="col-6 mt-5">

      <h4>Phone</h4>
      <% if (customer.phone) { %>
      <span><%= customer.phone %></span>
      <% } else { %>
      <span>not entered</span>
      <% } %>
      <br>
      <h4>Alt Phone</h4>
      <% if (customer.altPhone) { %>
      <span><%= customer.altPhone %></span>
      <% } else { %>
      <span>not entered</span>
      <% } %>
      <br>
      <h4>email</h4>
      <% if (customer.email) { %>
      <span><%= customer.email %></span>
      <% } else { %>
        <span>not entered</span>
      <% } %>
      <div class="row">
        <h4>Bill To:</h4>
        <pre><%= customer.billTo %></pre>
      </div>
      <a href="/customers/editCustomer/<%= customer.id %>" class="btn btn-primary">Edit Customer</a>
    </div>
    <div class="col-6 mt-5">
      <h5>Charge Limit</h5>
      <p><%= customer.limit %></p>
      <h5>Terms</h5>
      <p><%= customer.terms %></p>
      <h5>Tax Exempt Id</h5>
      <% if (customer.taxId) { %>
        <p><%= customer.taxId %></p>
        <% } else { %>
        <p>not exempt</p>
        <% } %>
      <h5>Current Balance</h5>
      <p>$ <%= customer.balance.toFixed(2) %></p>
      <h5>Date Added</h5>
      <p><%= customer.addedOn.toString() %></p>
    </div>

    <!-- Invoices!!!  -->

    <a href="/invoices/newInvoice/" data="<%= customer._id %>" class="btn btn-primary">
      New Invoice
    </a>

    <h4>Open Invoices</h4>
    <table>
      <tr>
        <th>Date</th>
        <th>Invoice Number</th>
        <th>Amount</th>
      </tr>
      <% invoices.forEach( invoice => { %>
        <% if (!invoice.isPaid) { %>
        <tr>
          
          <td>
            <%= invoice.date.toLocaleDateString() %>
          </td>
          <td>
            <a href="/invoices/viewInvoice/<%= invoice.id %>">
              <%= invoice.number %>
            </a>
          </td>
          <td>          
            $ <%= invoice.total.toFixed(2) %>
          </td>
        </tr>
      <% }}) %>
    </table>
  </div>
</div>

<%- include('../partials/footer') -%>
