<%- include('../partials/header') -%>
  <div>
    <p><strong>Welcome,</strong> <%= user.userName %>!</p>

  </div>
  <div class="container">
      <div class="row justify-content-center mt-5">
        <a href="/invoices/newInvoice/" class="btn btn-primary">
          New Invoice
        </a>
    </div>
    <div class="row justify-content-center mt-5">
      <a href="/customers/newCustomer/" class="btn btn-primary">
        New Customer
      </a>
    </div>
    <div class="row justify-content-center mt-5">
      <!-- this should be a table -->
      <table>
        <tr>
          <th>Company Name</th>
          <th>Balance</th>
        </tr>
        <% for(var i = 0; i < customers.length; i++) { %>
          <tr>
            <td>
            <a href="/customers/viewCustomer/<%= customers[i]._id%>">
              <%= customers[i].companyName %>
            </a>
          </td>
          <td>
            <!-- Balance Total -->
            $ <%= customers[i].balance.toFixed(2) %>
          </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>  
<%- include('../partials/footer') -%>