<div class="container mx-auto p-6">
  <h2 class="text-2xl mb-4">Edit <%= customer.companyName %></h2>
  <form action="/customers/updateCustomer/<%= customer._id %>?_method=PUT"
    method="POST" class="space-y-4">
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
      <div class="w-full md:w-1/2 tooltip" data-tip="(or person's name - last, first)">
        <label for="companyName" class="text-sm">Company Name</label>
        <input type="text" class="input input-bordered w-full max-w-xs" id="companyName" name="companyName" value="<%= customer.companyName %>" required>
      </div>
      <div class="w-full md:w-1/2 tooltip" data-tip="contact name, first last, or company name">
        <label for="fullName" class="text-sm">Full Name</label>
        <input type="text" class="input input-bordered w-full max-w-xs" id="fullName" name="fullName" value="<%= customer.fullName %>" required>
      </div>
    </div>
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
      <div class="w-full md:w-1/2 tooltip" data-tip="(xxx)xxx-xxxx">
        <label for="phone" class="text-sm">Phone</label>
        <input type="tel" class="input input-bordered w-full max-w-xs" id="phone" pattern="[(][0-9]{3}[)][0-9]{3}[-][0-9]{4}" name="phone" value="<%= customer.phone %>">
      </div>
      <div class="w-full md:w-1/2 tooltip" data-tip="(xxx)xxx-xxxx">
        <label for="altPhone" class="text-sm">Alt Phone</label>
        <input type="tel" class="input input-bordered w-full max-w-xs" id="altPhone" pattern="[(][0-9]{3}[)][0-9]{3}[-][0-9]{4}" name="altPhone" value="<%= customer.altPhone %>">
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <label for="email" class="text-sm">Email</label>
      <input type="email" class="input input-bordered w-full max-w-xs" id="email" name="email" value="<%= customer.email %>">
    </div>
    <div class="flex flex-col space-y-2">
      <label for="billTo" class="text-sm">Bill To</label>
      <textarea class="form-textarea h-28" rows="4" id="billTo" name="billTo" placeholder="" required>
<%= customer.billTo %>
      </textarea>
    </div>
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4">
      <div class="w-full md:w-1/2">
        <label for="limit" class="text-sm">Credit Limit $</label>
        <input type="number" step="0.form-input01" class="input input-bordered w-full max-w-xs" id="limit" name="limit" min="100.00" max="5000.00" value="<%= customer.limit.toFixed(2) %>" required>
      </div>
      <div class="w-full md:w-1/2">
        <label for="openingBalance" class="text-sm">Opening Balance</label>
        <input type="number" step="0.01" class="input input-bordered w-full max-w-xs" id="openingBalance" name="openingBalance" min="0.00" max="5000.00" value="<%= customer.openingBalance %>">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="col-6 mt-5">
  <% if (customer.balance == 0) { %>
  <form action="/customers/deleteCustomer/<%= customer._id %>?_method=DELETE" method="POST" id="deleteCustomerForm" class="col-3">
  <button class="btn btn-warning" type="submit" hidden="true">Delete this Customer</button>
  </form>
<% } %>
</div>
<div class="divider"></div>